.container {
  width: 100%;
  height: 72vh;
  position: relative;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color:dimgrey;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6); */
}

.container svg {
  display: block;
  width: 100%;
  height: 100%;
}
.pod {
  fill: #a8bdd3;
}
.service {
  fill: #fbd491;
}
.node {
  fill: #63b2e7;
}
.client {
  fill: #899ea8;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 110px;
  padding: 10px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0;
  border-radius: 8px;
  pointer-events: none;
}
